.mainElement {
    background-color: #0A2239;
    color: white;
    min-height: 100vh;
}

.foodPic {
    width: 200px;
}

.bioPic {
    width: 200px;
}

.contentContainer {
    padding: 30px;
    border-radius: 25px;
    border-color: #176087;
    border-style: solid;
    border-width: 10px;
}

.footer {
    background-color: black;
    padding: 10px;
    margin-top: auto;
}

.socialLink {
    display: flex;
    width: min-content;
}

.socialImg {
    width: 40px;
}

.project {
    position: relative;
    width: 400px;
}

.hoverBox {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 100%;
    content: "";
    transition: background-color .25s;
}

.hoverBox:hover {
    background-color: rgb(255,255,255,.33);
}

.backgroundImg {
    width: 400px;
}

.projLinks {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.projLinkButton {
    margin: 5px;
}