

.mainElement {
    background-color: #0A2239;
    color: white;
    min-height: 100vh;
}

.foodPic {
    width: 200px;
}

.bioPic {
    width: 200px;
}

.contentContainer {
    padding: 30px;
    border-radius: 25px;
    border-color: #176087;
    border-style: solid;
    border-width: 10px;
}

.footer {
    background-color: black;
    padding: 10px;
    margin-top: auto;
}

.socialLink {
    display: flex;
    width: min-content;
}

.socialImg {
    width: 40px;
}